<section class="vh-100" style="background-color: #609266;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <form [formGroup]="loginForm">

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <img src="./assets/images/logos/logo pequeño.png">
                                        <span class="h1 fw-bold mb-0">Notifications Service</span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account
                                    </h5>

                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                                        <input formControlName="email" placeholder="example@example.com" type="email"
                                            class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                                        <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                            class="text-danger">
                                            <div *ngIf="email.errors?.['required']">
                                                Email is required
                                            </div>
                                            <div *ngIf="email.errors?.['email']">
                                                The email must have a valid format
                                            </div>
                                        </div>

                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">Password</label>
                                        <input formControlName="password" type="password" class="form-control"
                                            id="exampleInputPassword1">

                                        <div *ngIf="password.invalid && (password.dirty || password.touched)"
                                            class="text-danger">
                                            <div *ngIf="password.errors?.['required']">
                                                Password is required
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" (click)="login()" class="btn btn-outline-info">Submit</button>
                                    <br>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>